@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&family=Edu+VIC+WA+NT+Beginner&display=swap');

@font-face {
    font-family: PinkyPromise;
    src: url(../webfonts/PinkyPromise.otf);
}


/* banner------------------- */

.banner-head {
    height:800px;
}

.banner-ul {
    display: flex;
    height: 10%;
    width: auto;

}

.banner-li {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    transition: 0.5s;
}

.banner-img{
    
}



.banner-li:hover {
    flex: 1 1 650px;

}